body {
  font-family: "Montserrat", sans-serif !important;
  color: #212529;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ef7f4d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Playfair Display", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 80px;
  z-index: 99999;
  background: #296bc2;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #3f82da;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 72px;
  transition: all 0.5s;
  z-index: 999;
  top: 50px;
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 2px 15px rgb(26 157 232 / 10%);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}
#header .logo h1 {
  font-size: 30px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}
#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 50px;
}

#main {
  margin-top: 0px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
/* .navbar li a::after {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 20px;
  left: 112%;
  border-right: 2px solid #296bc2;
  z-index: 1;
} */
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 16px;
  color: #296bc2;
  white-space: nowrap;
  /* transition: 0.3s; */
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #296bc2;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  visibility: hidden;
  transition: ease-in-out 0.2s;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 15px rgb(26 157 232 / 10%);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(9px);
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #fff;
  background-color: #296bc2;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #296bc2;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #296bc2;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 15px rgb(26 157 232 / 10%);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(9px);
  transition: 0.3s;
  height: 100vh;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 2px 15px rgb(26 157 232 / 10%);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(9px);
  overflow-y: auto;
  transition: 0.3s;
  z-index: 10000;
  border-radius: 15px;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #7a6960;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #296bc2;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #fff;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Banner Section
--------------------------------------------------------------*/
#banner {
  width: 100%;
  height: auto;
}

@media (max-width: 991px) {
  /* #banner {
    height: calc(100vh - 72px);
  } */
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}
@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  .back-to-top {
    bottom: 136px !important;
  }
  .card-width {
    justify-content: center;
    margin-bottom: 5%;
  }
}
@media (max-height: 600px) {
  #hero {
    height: 120vh;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  margin-top: 0;
  padding: 50px 0;
  overflow: hidden;
}

.section-bg {
  background: linear-gradient(
    180deg,
    rgba(211, 227, 233, 0) 0%,
    rgba(211, 227, 233, 0.5) 100%
  );
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 0;
  line-height: 1px;
  margin-bottom: 15px;
  color: #1b5693;
}
.section-title h2 span {
  color: #d63c3c;
}
.section-title p {
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  font-size: 18px;
  font-weight: normal;
  color: #296bc2;
}

.decoratedLine {
  overflow: hidden;
}

.decoratedLine > span {
  position: relative;
  display: inline-block;
}

.decoratedLine > span:before,
.decoratedLine > span:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-bottom: 1px solid;
  width: 22px;
  margin: 0 7px;
}

.decoratedLine > span:before {
  right: 100%;
}
.decoratedLine .kukl_right_off::after,
.decoratedLine .kukl_left_off::before {
  width: 0px;
}

.decoratedLine > span:after {
  left: 100%;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background-color: #fef5f1;
  min-height: 40px;
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  background-image: url("../img/About/about_bg.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.about h3 {
  font-weight: 700;
  font-size: 34px;
  color: #4e4039;
}
.about h4 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 5px;
  color: #1b5693;
}

.about p {
  font-size: 14px;
  color: #296bc2;
  margin-bottom: 0 !important;
}
@media (max-width: 991px) {
  .about .about-img img {
    max-width: 70%;
  }
}
@media (max-width: 767px) {
  .about .about-img img {
    max-width: 90%;
  }
}

/*--------------------------------------------------------------
# project
--------------------------------------------------------------*/
.project .swiper {
  padding: 23px;
  position: relative;
}
/* .swiper-button-prev {
  left: 0px !important;
} */
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -4px !important;
}
.project .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.project .swiper-slide .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: rgba(211, 227, 233, 0.2);
  box-shadow: 0px 5.80249px 9.94712px rgba(41, 107, 194, 0.25);
  transition: all 0.3s ease-in-out;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project .swiper-slide .icon-box::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15%;
  height: 15%;
  box-sizing: border-box;
  border-bottom: 2px solid #d63c3c;
  border-right: 2px solid #d63c3c;
  transition: all 0.8s ease;
}
.project .swiper-slide .icon-box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15%;
  height: 15%;
  box-sizing: border-box;
  border-top: 2px solid #d63c3c;
  border-left: 2px solid #d63c3c;
  transition: all 0.8s ease;
}
.project .swiper-slide .icon-box:hover::after,
.project .swiper-slide .icon-box:hover::before {
  cursor: pointer;
  /* transform: translateY(-5px); */
  /* border-color: #d63c3c; */
  width: 100%;
  height: 100%;
}
.project .swiper-slide .icon-box .icon {
  width: 80px;
  height: 80px;
  position: relative;
  /* border: 1px solid #0099da; */
  background-color: #d4f1f9;
  border-radius: 50%;
  margin-bottom: 15px;
}
.project .swiper-slide .icon-box .icon .clock {
  width: 69px;
  height: 65px;
  position: absolute;
  top: -12%;
  left: 8%;
}
.project .swiper-slide .icon-box .icon .waterCircle {
  width: 105px;
  height: 100px;
  position: absolute;
  right: -15%;
  top: -13%;
}
.project .swiper-slide .icon-box .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 16px;
}
.project .swiper-slide .icon-box .title a {
  z-index: 999;
  color: rgba(0, 0, 0, 0.8);
}
/* .project .title a:hover {
  color: #296bc2;
} */

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 0 35px 0;
  list-style: none;
  text-align: center;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 0 15px 15px 0;
  display: inline-block;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #212529;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.portfolio #portfolio-flters li::after {
  content: "";
  position: absolute;
  top: 3px;
  bottom: 5px;
  left: 100%;
  border-right: 2px solid #d63c3c;
  z-index: 1;
  padding-right: 10px;
}
.portfolio #portfolio-flters li.filter-active {
  color: #296bc2;
  border-bottom: 2px solid #296bc2;
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio #portfolio-flters li:last-child::after {
  border-right: none;
}
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(122, 105, 96, 0.6);
  position: absolute;
  left: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
}
.portfolio .portfolio-wrap img {
  height: 309px;
  transition: 0.3s;
  position: relative;
  z-index: 1;
}
.portfolio .portfolio-wrap:hover > img {
  transform: scale(1.4) rotate(15deg);
}
.portfolio .portfolio-wrap .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  top: calc(50% - 32px);
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links a {
  color: #296bc2;
  margin: 0 4px;
  line-height: 0;
  background-color: #fff;
  padding-top: 6px;
  padding-right: 1px;
  border-radius: 50px;
  text-align: center;
  width: 32px;
  height: 32px;
  display: inline-block;
  transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links a i {
  line-height: 0;
  font-size: 20px;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: #296bc2;
  color: #fff;
}
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
}
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}
.portfolio .portfolio-wrap:hover::before {
  left: 0;
}
.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  top: calc(50% - 16px);
}
.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #296bc2;
}
.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: #296bc2;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(122, 105, 96, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info .album_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-height: 445px;
  overflow: auto;
}
.portfolio-details .portfolio-info .album_wrap .portfolio-wrap {
  padding: 5px;
  overflow: hidden;
}
.portfolio-details .portfolio-info .album_wrap .portfolio-wrap img {
  height: 100px;
  border-radius: 6px;
  object-fit: cover;
  transition: 0.9s;
  -webkit-transition: 0.9s;
}
.portfolio-details .portfolio-info .album_wrap .portfolio-wrap:hover img {
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  cursor: zoom-in;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .portfolio-details .portfolio-info .album_wrap {
    max-height: 284px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .portfolio-details .portfolio-info .album_wrap {
    max-height: 364px;
  }
}

/*--------------------------------------------------------------
# Employee
--------------------------------------------------------------*/
.employee {
  background: linear-gradient(
    180deg,
    rgba(211, 227, 233, 0) 0%,
    rgba(211, 227, 233, 0.5) 100%
  );
  padding: 60px 0;
}
.employee .member {
  text-align: center;
  margin-bottom: 20px;
  background: #999;
  position: relative;
  overflow: hidden;
}
.employee .member img {
  height: 254px;
}
.employee .member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}
.employee .member .member-info-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transition: bottom 0.4s;
}
.employee .member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}
.employee .member .member-info-content span {
  display: block;
  font-size: 13px;
  color: #fff;
}
.employee .member .social {
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
  width: 50px;
  transition: left ease-in-out 0.3s;
  background: rgba(78, 64, 57, 0.6);
  text-align: center;
}
.employee .member .social a {
  transition: color 0.3s;
  display: block;
  color: #fff;
  margin-top: 15px;
}
.employee .member .social a:hover {
  color: #296bc2;
}
.employee .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.employee .member:hover {
  box-shadow: 0px 4px 12px rgba(41, 107, 194, 0.35);
}
.employee .member:hover .member-info {
  background: linear-gradient(
    0deg,
    rgba(78, 64, 57, 0.95) 0%,
    rgba(78, 64, 57, 0.95) 15%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 1;
  transition: 0.4s;
}
.employee .member:hover .member-info-content {
  bottom: 30px;
  transition: bottom 0.4s;
}
.employee .member:hover .social {
  left: 0;
  transition: left ease-in-out 0.3s;
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact .info {
  border-top: 3px solid #eb5d1e;
  border-bottom: 3px solid #eb5d1e;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contact .info i {
  font-size: 20px;
  color: #eb5d1e;
  float: left;
  width: 44px;
  height: 44px;
  background: #fdf1ec;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #7a6960;
}
.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #ab9d95;
}
.contact .info .email p {
  padding-top: 5px;
}
.contact .info .social-links {
  padding-left: 60px;
}
.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}
.contact .info .social-links a:hover {
  background: #eb5d1e;
  color: #fff;
}
.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #eb5d1e;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #eb5d1e;
  border-bottom: 3px solid #eb5d1e;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type="submit"] {
  background: #eb5d1e;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type="submit"]:hover {
  background: #ef7f4d;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0 0 30px 0;
  color: #212529;
  font-size: 14px;
  background: #296bc2;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
  border-top: 2px solid #296bc2;
}
/* #footer .footer_bg {
  background-image: url(../img/Footer/footer_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  
} */
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links h4 {
  color: #1b5693;
}
#footer .footer-top .pid {
  max-width: 310px;
}
#footer .footer-top .footer-links .useful_links {
  max-width: 222px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-links .info {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #212529;
}
#footer .footer-top .footer-links .info i {
  display: flex;
  width: 34px;
  height: 34px;
  background-color: #3f82da;
  color: #fff;
  border-radius: 50%;
  margin-right: 3%;
  font-size: 18px;
  padding: 8px;
}
#footer .footer-top .footer-links .info i:hover {
  background-color: #296bc2;
}
#footer .footer-top .footer-links .info:hover {
  cursor: pointer;
  color: #296bc2;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #212529;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #296bc2;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links .download-form li {
  padding: 0 !important;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li img {
  width: 34px;
  height: 34px;
  margin-right: 3%;
  cursor: pointer;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #5c5c5c;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #296bc2;
}
#footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  background: #3f82da;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 0 12px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #296bc2;
  color: #fff;
  text-decoration: none;
}
#footer .copyright {
  text-align: center;
  float: left;
  color: #fff;
}
#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#footer .credits a {
  color: #fff;
}
#footer .credits a:hover {
  color: #4de354;
}
@media (max-width: 575px) {
  #footer .copyright,
  #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: 3px 0;
  }
}
